.root {
  position: absolute;
  top: calc(50% + 1.75px);
  left: calc(50% - 4.250012397766113px);
  z-index: 5;
  width: 100px;
  height: 100px;
  overflow: visible;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transform-origin: 50% 50%;
}

.canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 192px;
  height: 192px;
  max-width: none;
  max-height: none;
  transform: translate(-50%, -50%);
}
